:root {
  --primary: #313639;
  --confirmation: #69bb7b;
  --white: #ffffff;
  --white-accent:#c8c8c8;
  --error: #ff0033;
}

.App {
  text-align: center;
}

.App > .page {
  margin-top: 70px;
}

button {
  font-size: calc(10px + 2vmin);
}
